logDirectory=
fezLauncher=
loginId=
loginPassword=
loginCharacterName=
tellMessage.inventoryNoSpace=
tellMessage.succeeded=
tellMessage.weiredItemEntried=
adminPC=ゲーム内のadminキャラクタ名
irc.host=
irc.port=
irc.password=
irc.channelName=
